@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root {
	--bgColor: #2a2b38;
	--fgColor: #1C0D1B;
	--borderR: 6px;
}

.white-theme{
	--bgColor: rgb(245, 245, 245);
	--fgColor: #2a2b38;;
}

* {
	margin: 0px;
	padding: 0px;
	/* box-sizing: border-box; */
}

a {
	cursor: pointer;
	transition: all 200ms linear;
	display: block;
}

a:hover {
	text-decoration: none;
}

.link {
	color: #c4c3ca;
}

.link:hover {
	color: #ffeba7;
}

p {
	font-weight: 500;
	font-size: 14px;
	/* line-height: 1.7; */
}

h4 {
	font-weight: 600;
	/* display: inline-block; */
}



body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	/* background-color: #22AAA1; */
	/* background-color: #F4FF52; */
	/* background-color: #422040; */
	background-color: var(--bgColor);
	/* overflow-x: hidden; */

}

/* .auth-card,
body,
header  */
.bgImage{
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 300%;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	padding: 10px 10px 0px 10px;
}

header {
	border-radius: 6px;
	/* border: 2px white solid; */
	width: 100%;
	padding: 5px 10px;
	background-color: var(--fgColor);
	background-size: 300%;
	position: relative;
}

menu {
	display: flex;
	float: right;
	column-gap: 20px;
	padding: 2px;
}
menu a{
	text-decoration: none;
	color: white;
}

.changeTheme-btn{
	background-color: var(--bgColor);
	padding: 0px var(--borderR);
	border-radius: var(--borderR);
	cursor: pointer;
	user-select: none;
}

#theme-label{
	color: var(--fgColor);
	font-weight: bold;
}

.changeTheme-icon{
	line-height: 1;
	color:var(--fgColor);
}


  

#messageBox{
	width: 100%;
	position: absolute;
	bottom: -40px;
	left: 0px;
}

#messageCard{
	background-color: grey;
	border-radius: var(--borderR);
	border: solid 2px red;
	padding-left: 10px;
	width: fit-content;
	margin: 0 auto;
	overflow: hidden;
	color: var(--bgColor);
	font-weight: bold;

}

.cross-icon{
	margin-left: 5px;
	color: red;
	background-color: var(--fgColor);
	/* border-radius: 2px; */
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
}


section {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	padding: 5% 7% 7% 7%;
}
