.addClass-form {
    background-color: var(--fg1Color);
    border-radius: var(--borderR);
}

.addClass-input {
    border-radius: var(--borderR);
    padding: 2px;
}

.copyCode-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
}


.copyCode-btn:hover{
    background-color: var(--fg1Color);
    border-radius: 50%;
    color: var(--priColor);
    position: relative;
}

.copyCode-btn:active{
    /* border-radius: 0; */
    background-color: var(--priColor);
    color: var(--fg1Color);
}
